{% extends 'layout.html' %}

{% block content %}

{% load static %}

    <title>{% block title %}Portfolio{% endblock %}</title>

    <style>
        .contenedor{
            background-size : cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            width: 100%;
            {% comment %} height: 100vh; {% endcomment %}
        }
        .contenedor-header{
            background-image: url("{% static 'portfolio/fondo-header.jpg' %}");
        }
        .contenedor-proyectos{
            background-image: url("{% static 'portfolio/fondo-proyectos.jpg' %}");
        }
    </style>

    <header class="row bg-dark text-white rounded-4 py-4 px-4 contenedor contenedor-header">

        <div class="col-md-4 p-5">
            <img src="{% static 'portfolio/foto.jpg' %}" alt="foto_perfil" class="img-fluid border border-1 rounded-circle">
        </div>

        <div class="col-md-8 my-auto">
            <p class="h2">Hola, yo soy Jean Pool Oliver Yantas Inocente,</p>
            <p class="h5"><strong>Web Developer</strong> / <strong>Bachiller en Ingeniería de Sistemas</strong></p>
            <p class="" style="text-align: justify;">Soy un desarrollador Full Stack con experiencia en la creaci&oacute;n de sitios web. Me especializo en Python y JavaScript, tengo experiencia trabajando con Django y Angular. Siempre busco mejorar mis habilidades y seguir creciendo profesionalmente para poder hacer aportes valiosos en el grupo de trabajo del que formo parte para aumentar la productividad y mejorar la comunicación dentro de nuestro equipo de desarrollo.</p>
            <a href="{% static 'portfolio/CV.pdf' %}" target="_blank" class="btn btn-primary btn-lg rounded-2">
                <i class="fa-solid fa-download"></i> Descargar CV
            </a>
        </div>
    </header>

<div class="row rounded-4 my-4 py-4 text-center contenedor contenedor-proyectos">
    <h3 class="text-white">Mis Proyectos</h3>
    <p class="text-white">Me apasiona crear software que mejore la vida de quienes me rodean. Te presento mi portafolio hecho con los estandares web HTML5, CSS3, Bootstrap 5, Python, Django, JavaScript, TypeScript y Angular. Aquí puedes ver de forma inmediata mis proyectos ¡Espero te guste!</p>

    {% if projects %}
        {% for project in projects %}
            <div class="col-md-4 p-4">
                <div class="card bg-white card-project" style="cursor:auto;">
                    <img src="{{ project.image.url }}" alt="project.title" class="card-img-top" />
                    <div class="card-body">

                        <h2> {{ project.title }} </h2>
                        <p> {{ project.description }} </p>
                
                        {% if project.repositorio %}
                            <a href="{{ project.repositorio }}" target="_blank"><i class="fab fa-github m-2"></i></a>
                        {% endif %}

                        {% if project.url %}
                            <a href="{{ project.url }}" target="_blank"><i class="fas fa-globe-asia m-2"></i></a>
                        {% endif %}
                    </div>


                </div>
            </div>    
        {% endfor %}
    {% else %}
        <div class="d-flex justify-content-start">
            <p class="m-5">No existen entradas.</p>
        </div>
    {% endif %}
{% endblock %}
</div> 
