{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/x-icon" href="{% static 'portfolio/icono.jpg' %}">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% comment %} Bootstrap {% endcomment %}
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">

        {% comment %} CSS {% endcomment %}
        <link rel="stylesheet" href="{% static 'main.css' %}">

        {% comment %} Iconos de Fontawesome {% endcomment %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/cd280c1b0e.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-dark text-black fst-italic">

        {% include 'partials/navbar.html' %}

        {% if messages %}
        {% for message in messages %}
        <div class="row justify-content-end">
            <div class="col-md-2 me-3 mt-3">
                <div id="box" class="alert alert-success alert-dismissible fade show shadow">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong class="text-dark">{{ message }}</strong>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        <div class="container p-4">
            {% block content %}
            {% endblock %}
        </div>

        {% include 'partials/footer.html' %}

        <script>
            setTimeout(() => {
                    const box = document.getElementById('box');
                    box.style.display = 'none';
                  }, 2000);
        </script>
        <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>